<h1>Yoga App</h1>

<h3>Choose a neighbourhood!</h3>
<%= button_to "Crown Heights", brooklyn_path, method: :get %>
<%= button_to "Union Square", index_path, method: :get %>
<%= image_tag "http://maps.google.com/maps/api/staticmap?center=Union+Square,NY&size=450x300&sensor=false&zoom=14" %> 


