<div class="row">
	<div class="offset-by-six">
		<a href=" /users/sign_up" ><div class="mainbutton four columns"><p class="mainbuttontext">Start Here</p><i class="icon-leaf icon-4x" id="leaf"></i></div>
	</div>
</div> 