<h1>Yoga App</h1>

<h3>Choose a neighbourhood!</h3>
<%= button_to "Crown Heights", brooklyn_path, method: :get %>
<% addresses = [] %>
<% @addresses.each do |address| %>
	<% marker = "&markers=" + address.latitude+ "%2C" + address.longitude %>
	<% addresses << marker %>
<% end %>
<%= image_tag "http://maps.google.com/maps/api/staticmap?center=Union+Square,NY&size=450x300&sensor=false&zoom=15#{addresses.join}" %> 

<!-- 
&markers=LATITUDE%2C#LONGITUDE -->


<!-- &markers=#{@address.latitude}%2C#{@address.longitude}&markers=#{@address1.latitude}%2C#{@address1.longitude}&markers=#{@address2.latitude}%2C#{@address2.longitude} -->